{
  "declarations": {
    "PROC_PID_CPUSET": {
      "tristate": "y",
      "src": "User"
    },
    "RT_GROUP_SCHED": {
      "tristate": "y",
      "src": "User"
    },
    "CRYPTO_DEV_FSL_CAAM": {
      "tristate": "m",
      "src": "User"
    },
    "CRYPTO_DEV_SL3516": {
      "tristate": "m",
      "src": "User"
    },
    "CRYPTO_DEV_SL3516_DEBUG": {
      "tristate": "y",
      "src": "User"
    },
    "FAIR_GROUP_SCHED": {
      "tristate": "n",
      "src": "User"
    },
    "NET": {
      "tristate": "y",
      "src": "User"
    },
    "CRYPTO_DEV_FSL_CAAM_PKC_API": {
      "tristate": "y",
      "src": "User"
    },
    "CRYPTO_DEV_HIFN_795X_RNG": {
      "tristate": "y",
      "src": "User"
    },
    "PKEY_PCKMO": {
      "tristate": "m",
      "src": "User"
    },
    "AX25": {
      "tristate": "m",
      "src": "User"
    },
    "MODULE_DEBUG": {
      "tristate": "y",
      "src": "User"
    },
    "CGROUP_HUGETLB": {
      "tristate": "y",
      "src": "User"
    },
    "S390_PRNG": {
      "tristate": "m",
      "src": "User"
    },
    "CRYPTO_DEV_FSL_CAAM_PRNG_API": {
      "tristate": "y",
      "src": "User"
    },
    "CRYPTO_DEV_FSL_DPAA2_CAAM": {
      "tristate": "m",
      "src": "User"
    },
    "CRYPTO_PAES_S390": {
      "tristate": "m",
      "src": "User"
    },
    "MODULE_STATS": {
      "tristate": "y",
      "src": "User"
    },
    "CRYPTO_DEV_TALITOS1": {
      "tristate": "y",
      "src": "User"
    },
    "CRYPTO_DEV_FSL_CAAM_RNG_TEST": {
      "tristate": "y",
      "src": "User"
    },
    "CRYPTO_DEV_HIFN_795X": null,
    "ACPI_FPDT": {
      "tristate": "y",
      "src": "User"
    },
    "BLK_CGROUP_IOPRIO": {
      "tristate": "y",
      "src": "User"
    },
    "CFS_BANDWIDTH": {
      "tristate": "y",
      "src": "User"
    },
    "CGROUP_FREEZER": {
      "tristate": "y",
      "src": "User"
    },
    "MODULE_DEBUG_AUTOLOAD_DUPS": {
      "tristate": "y",
      "src": "User"
    },
    "CPUSETS_V1": {
      "tristate": "n",
      "src": "User"
    },
    "MEMCG": {
      "tristate": "y",
      "src": "User"
    },
    "ACPI_TAD": {
      "tristate": "m",
      "src": "User"
    },
    "CGROUP_PIDS": {
      "tristate": "y",
      "src": "User"
    },
    "RT_GROUP_SCHED_DEFAULT_DISABLED": {
      "tristate": "y",
      "src": "User"
    },
    "CRYPTO_DEV_FSL_CAAM_RNG_API": {
      "tristate": "y",
      "src": "User"
    },
    "CRYPTO_DEV_TALITOS": {
      "tristate": "m",
      "src": "User"
    },
    "ROSE": {
      "tristate": "m",
      "src": "User"
    },
    "MODULE_DECOMPRESS": {
      "tristate": "y",
      "src": "User"
    },
    "PM_AUTOSLEEP": {
      "tristate": "y",
      "src": "User"
    },
    "CGROUP_RDMA": {
      "tristate": "y",
      "src": "User"
    },
    "WQ_POWER_EFFICIENT_DEFAULT": {
      "tristate": "y",
      "src": "User"
    },
    "NETROM": {
      "tristate": "m",
      "src": "User"
    },
    "RUST": {
      "tristate": "y",
      "src": "User"
    },
    "CRYPTO_DEV_FSL_CAAM_JR": {
      "tristate": "m",
      "src": "User"
    },
    "BLK_CGROUP": {
      "tristate": "y",
      "src": "User"
    },
    "MODULE_COMPRESS": {
      "tristate": "y",
      "src": "User"
    },
    "CRYPTO_DEV_FSL_CAAM_DEBUG": {
      "tristate": "y",
      "src": "User"
    },
    "CPUSETS": {
      "tristate": "y",
      "src": "User"
    },
    "HAMRADIO": {
      "tristate": "y",
      "src": "User"
    },
    "CGROUP_DMEM": {
      "tristate": "y",
      "src": "User"
    },
    "PKEY_UV": {
      "tristate": "m",
      "src": "User"
    },
    "CRYPTO_DEV_FSL_CAAM_INTC": {
      "tristate": "y",
      "src": "User"
    },
    "PKEY_CCA": {
      "tristate": "m",
      "src": "User"
    },
    "CRYPTO_PHMAC_S390": {
      "tristate": "m",
      "src": "User"
    },
    "PKEY_EP11": {
      "tristate": "m",
      "src": "User"
    },
    "CGROUP_SCHED": {
      "tristate": "y",
      "src": "User"
    },
    "ACPI_DOCK": {
      "tristate": "y",
      "src": "User"
    },
    "MODULE_ALLOW_MISSING_NAMESPACE_IMPORTS": {
      "tristate": "y",
      "src": "User"
    },
    "UCLAMP_TASK_GROUP": {
      "tristate": "y",
      "src": "User"
    },
    "CAN": {
      "tristate": "m",
      "src": "User"
    },
    "MODULES": {
      "tristate": "y",
      "src": "User"
    },
    "MEMCG_V1": {
      "tristate": "y",
      "src": "User"
    },
    "CGROUPS": {
      "tristate": "y",
      "src": "User"
    }
  }
}